$accent-color: #ffcc00;
$main-color: #1e1e1e;

.map {
  width: 634px;
  height: 500px;
  margin-bottom: 3px;

  &>div {
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -6px 6px rgba(0,0,0,.12), 0 -4px 4px rgba(0,0,0,.12);
    border-bottom: 3px solid $accent-color;

    .amcharts-main-div {
      border-radius: 10px;
      top: 0;
      left: 0;
      width: 101%;

      .amcharts-chart-div {
        width: 90%;
        background-color: $main-color;
      }
    }
  }
}

@media only screen and (min-width: 1263px) {
  .map {
    width: 600px;
    height: 500px;
    margin-right: 20px;
    margin-bottom: 20px;

    &>div {
      border-radius: 10px;
      box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.12);
      border-bottom: none;
      .amcharts-main-div {
        border-radius: 10px;
        top: 1px;
        left: 1px;
      }
    }
  }
}
