html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto;
}

$flight-width: 220px;
$main-color: #43b7d3;
$from-top: 220px;

.viewport {
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.flights {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.animated {
  &-enter {
    opacity: 0.01;
  }

  &-enter.animated-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-out;
  }

  &-leave {
    opacity: 1;
  }

  &-leave.animated-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
}
