$flight-width: 220px;
$main-color: #ffcc00;
$from-top: 220px;
$main-bg: #1e1e1e;

.flight {
  display: flex;
  align-items: center;
  height: 75px;
}

.airline {
  width: 100%;
  text-align: center;
  background: $main-color;
  color: #fff;
  line-height: 30px;
  text-transform: uppercase;
}

.airport {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $main-bg;
  height: 100%;

  &-iata {
    width: 60px;
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    line-height: 30px;
    padding: 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;

    box-shadow: inset 0 -1px 0 rgba(50,50,50,0.7),
    inset 0 -2px 0 rgba(0,0,0,0.7),
    inset 2px 0px 4px rgba(0,0,0,0.9),
    inset -2px 0px 4px rgba(0,0,0,0.9),
    0 1px 0px rgba(255,255,255,0.2);

    background: $main-bg;
    background-image: gradient(linear, center top, center bottom
            color-stop(0.0, #000),
            color-stop(0.05, $main-bg),
            color-stop(1.0, $main-bg)
    );

    &:before {
      border-top: 1px solid rgba(0,0,0,0.4);
      /* this line will be barely visible, but that's how we want it */
      border-bottom: 1px solid rgba(255,255,255,0.08);
      height: 0;
      position: relative;
      width: 110%;
      left: -3px;
      top: 16px;
      content: " ";
      display: block;
    }
  }

  &-icon {
    color: #999999;
  }

  &-name {
    color: $main-color;
    font-size: 0.6em;
    text-align: center;
    margin-top: 5px;
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
  }
}

.points {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  border-right: 1px dashed #ccc;

  .point {
    height: 50%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_top {
      border-bottom: 1px dashed #ccc;
    }

    &-city {
      font-size: 0.8em;
      text-transform: uppercase;
    }

    &-country {
      font-size: 0.6em;
    }
  }
}

.times {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  background-color: $main-bg;
  color: #fff;

  .when {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;

    &-time {
      font-size: 1.5em;
    }

    &-date {
      font-size: 0.6em;
      color: #999;
      text-transform: uppercase;
    }
  }

  &-duration {
    color: #999;
    font-size: 0.6em;
  }
}


.estimated {
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  margin-left: 10px;
  border: 1px dashed #e1e1e1;
  height: 40px;
  line-height: 20px;
  color: #999999;
  font-weight: 100;

   &-date {
     position: relative;
     text-transform: uppercase;
     &:before {
       transform: rotate(45deg);
       border-left: 1px dashed #e1e1e1;
       border-bottom: 1px dashed #e1e1e1;
       background-color: #fff;
       color: #fff;
       height: 10px;
       width: 10px;
       position: absolute;
       left: -16px;
       top: 14px;
       content: " ";
       display: block;
     }
   }

   &-delay {

   }
}

.departure {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
  padding: 10px;
}

.conector {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
}

.arrival {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 40%;
}


@media only screen and (min-width: 1263px) {
  .flight {
    border-left: 3px solid $main-color;
  }
}
